main {
	padding: 60px;
}

.bluebox {
	width:60px;
	height: 60px;
	background-color: blue;
	margin-bottom: 100px;
}

.redbox {
	background-color: red;
	width: 200px;
	height: 250px;
	border: 1px solid black;
	
}